@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    font-family:Poppins;
    font-size:1rem;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style:none
}
a {
    text-decoration: none;
}
img{
    display: block;
    max-width:100%;
    height:auto;
}
.image-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index:-1;
}

/* HEADER */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin: 1rem;
}
.header__container{
    width: 100%;
    height:3.5rem; 
    background-color:hsla(0,0%,0%,.2);
    backdrop-filter:blur(16px);
    border-radius:1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
}
.header__logo{
    display: flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: 500;
}
.header__logo i{
    font-size:1.5rem;
}
.header__toggle{
    width: 32px;
    height: 32px;
    border-radius:.5rem;
    border:none;
    outline:none;
    font-size:1.5rem;
    background-color:hsla(0,0%,0%,.2);
    color:white;
    cursor: pointer;
}

/* SIDEBAR */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    /* left: -120%; */
    bottom: 0;
    width: 232px;
    background-color:hsla(0,0%,0%,.2);
    backdrop-filter:blur(16px);
    z-index:100;
    padding: 1rem 1rem 1.5rem;
    margin: 1rem;
    border-radius: 1rem;
    transition:left .4s;
}
.sidebar__logo{
    display: flex;
    align-items: center;
    column-gap: .75rem;
    color:white;
    padding: 0 0 1rem 0.5rem;
    font-weight: 500;
    border-bottom: 1px solid hsla(0,0%,100%,.3);
}
.sidbear__logo i{
    font-size: 1.5rem;
}
.sidebar__content{
    display: grid;
    row-gap: .5rem;
    padding-top: 1.5rem;
}
.sidebar__link{
    display: flex;
    align-items: center;
    column-gap:.75rem;
    color:white;
    padding: .5rem;
    border-radius: .5rem;
    transition:background-color .4s;
    /* background-color:purple; */
}
.sidebar__link i{
    font-size:1.25rem;
}
.sidebar__link span{
    font-weight: 500;
}
.sidebar__link:hover{
    background-color:hsla(0,0%,0%,.2);
}
.show-sidebar{
    left:0;
}

/* DROPDOWN */
.drop__button{
    width: 100%;
    flex-direction: row;
    border: none;
    outline:none;
    background:none;
    cursor: pointer;
    font-weight:500;
}
.drop__arrow{
    margin-left: auto;
    transition: transform .4s;
}
.drop__list{
    display: grid;
    row-gap: 0.25em;
    height:0;
    overflow: hidden;
    transition:height 0.4s;
}
.drop__item{
    position: relative;
    display: block;
    color:white;
    padding:.5rem .5rem .5rem 2.25rem;
    border-radius: .5rem;
    transition: background-color .4s;
}
.drop__item::after{
    content: '';
    width: 6px;
    height: 6px;
    background-color:white;
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-radius:50%;
}
.drop__item:hover{
    background-color:hsla(0,0%,0%,.2)
}
.show-drop .drop__arrow{
    transform:rotate(180deg)
}